extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas(id="myCanvas")
  script(type="text/javascript" , src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js")
  script(type="text/javascript" , src="Javascripts/bubble.js")